.main-footer{
    
    background-color: rgb(37, 37, 37);
   

     margin-top: 40px;
   padding: 20px;

   height:300px;

}
#logo{
   width: 300px;
   margin-bottom: 40px;
   margin-top: 20px;
   padding: 10px;
  

   
}



.col h4{
   margin-bottom: 20px;
}
.col1>h4::after{
content: " Address:";
/* color: navy; */
color: #fff;
border-bottom:3px solid rgb(14, 12, 12);

}
.col2>h4::after{
content: " Socila Links:";
/* color: navy; */
color: #fff;

border-bottom:3px solid rgb(14, 12, 12);


}
.col3>h4::after{
content: " Contact Details:";
/* color: navy; */
color: #fff;

border-bottom:3px solid rgb(14, 12, 12);

}
.col2 li a{
   text-decoration: none;
   color: #fff;



   
}


.col2 li{
   /* border: 1px solid red; */
justify-content: center;
width: 100%;
margin: auto;
padding: 4px;
font-size: 18px;
font-weight: 600;
}
.col3>ul>li{
   /* border: 1px solid red; */
   margin: 10px;

}
.col3>ul>li>a{
   /* border: 1px solid red; */
   color: #fff;

}

.instagram{
   /* border: 1px solid red; */
font-size: 30px;

}
.facebook{
   font-size: 30px;
}
.youtube{
   font-size: 30px;
}
.instagram:hover{
   /* border: 1px solid red; */
color: rgb(173, 10, 105);
}
.facebook:hover{
   font-size: 30px;
   color: blue;
}
.youtube:hover{
   font-size: 30px;
   color: red;
}
.col-sm a{
   color: black;
   text-decoration: none;
}
.col-sm a:hover{
   color: rgb(187, 14, 14);
   text-decoration: none;
}

.add li a{
   text-decoration: none;
   color: black;

}

.cole{
   /* border: 2px solid red; */
       margin-top: 30px;

}
.cole>h4:after{
content: "Through this Map";
/* color: navy; */
}

.icon{
   font-size: 40px;
   color: green;
}

.email{
   font-size: 30px;
   margin-right: 10px;
   color: #fff;

}

.iconm{
 font-size: 30px;
 /* color: black; */
 color: #fff;

}

.phn{
   font-size: 30px;
   /* margin-top: 20px; */
   margin-right: 10px;

   color: #fff;

}

.colr1:hover{
   color: rgb(151, 8, 8);
   /* border: 1px solid red; */
}
.colr2:hover{
   color: rgb(74, 59, 207);
   /* border: 1px solid red; */
}
.colr3:hover{
   color: rgb(201, 9, 9);
   /* border: 1px solid red; */
}
.cole h4{
   margin-bottom: 25px;
}
.row{
   color: #fff;

}
.col-sm>a{
   color: #fff;

}